*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #cbce91ff, #ea738dff);
}
h2 {
  padding: 4vh;
  text-align: center;
}
.op__sections {
  padding: 10vh;
}
.op__buttons {
  padding: 5vh;
}
button {
  width: 50px;
  border-radius: 4px;
}
#res {
  width: 50%;
}
.calculator-grid button {
  cursor: pointer;
  font-size: 1.2rem;
  border: 1px, solid #ffffff;
  outline: none;
  background-color: rbga(255, 255, 255, 0.75);
}
.calculator-grid button:hover {
  background-color: #a9a9a9;
}
.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
