body {
  color: rgb(0, 119, 184);
  width: 400px;
  font-size: 16px;
}

label{
  display:block;
}

input:invalid {
  border: 1px solid #CC0000;
}

input:valid{
  background-color: lightyellow;
  border: 1px solid #3399FF;  
}

input:valid+.invalid{
  visibility: hidden;
}

input:invalid+.invalid{
  visibility: visible;
}

input#enviar {
  margin-top: 10px; 
  padding: 4px 20px;
  background:rgb(0, 163, 255);
  border:2px outset #dad9d8;
  font-size:1.1em;
  color:#fff;
  text-shadow: 0px 1px 10px #000;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, .55) 0 1px 6px;
}

input#enviar:hover, input#enviar:focus {
  border:2px solid #dad9d8;
}