div.first_parent_div {
    width: 200px;
    border: 1px solid #FFF;
    box-shadow: 0px 1px 3px 0px #999;
}

img.image {
    max-width: 200px;
}

p.fullname {
    font-size: 12px;
    font-weight: bold;
}

p {
    font-size: 11px;
}

div.second_child_div {
    padding-left: 10px;
}